.addproperty {
    width: 75%;
    border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid black;
  margin: 30px auto auto auto;
}

.property-form {
    display: flex;
    flex-direction: column; 
    margin-left: auto;
    margin-right: auto;
    
}

label {
    margin-right: 4px;
    font-size: 2em;
    margin-top: 2px;
}

input {
    display: inline-block; 
    height: 50px;
    font-size: 1em;
    margin-bottom: 2px;
}

select {
    display: inline-block;
    height: 50px;
    font-size: 1em;
    margin-bottom: 2px;
}

.form-item {
    margin-top: 10px;
    size: 50em;
}

.image-thumb {
    max-width: 600px;
    max-height: 600px;
}