* {
    box-sizing: border-box;
}

.properties-page {
    position: relative;
    display: block;
    border: 1px solid black;
    height: 100%;
}

.property-cards {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 30px;
}

.properties {
    padding: 10px;
}

.filter-bar {
    background-color: rgba(241, 235, 227, 0.818);
    display: flex;
}

@media screen and (max-width: 1600px) {
    .property-cards {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        margin: 30px;
    }
}

@media screen and (max-width: 1200px) {
    .property-cards {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 30px; 
    }
}

@media screen and (max-width: 1000px) {
    .property-cards {
        display: grid;
        grid-template-columns: 100%;
        margin: 30px;
    }
}